{% extends 'homepage/base.html' %}

{% block content0 %}

    <li><a href="{% url 'user:profile' user.id %}" style="color:white">{{ user.username }}</a></li>
    <li><a href="{% url 'login:logout-acc' %}" style="color:white">Log Out</a></li>

{% endblock %}


{% block content %}
    <h2>Registration Form</h2>
    <form action="" method="POST">
        {% csrf_token %}
        <fieldset class="module aligned ">
            <div class="form-row res-username">
                <label class="required">Username: </label>
                <h3>{{ user.username }}</h3>
            </div>
            <div class="form-row current-pass">
                <label class="required">Current Password: </label>
                <input type="password" name="current-pass" id="id_old_pass">
            </div>

            <div class="form-row new-pass1">
                    <label class="required">New Password: </label>
                    <input type="password" name="new-pass1" id="id_new_pass1">
            </div>
            <div class="form-row new-pass2">
                    <label class="required">Repeat Password: </label>
                    <input type="password" name="new-pass2" id="id_new_pass2">
            </div>

            <div class="form-row res-term">
                    <button type="submit" class="registerbtn">Update</button>
            </div>
        </fieldset>
    </form>


    <a href="{% url 'article:index' %}">Back</a>
{% endblock %}