{% extends 'homepage/base.html' %}

{% block content %}
    <h2>Registration Form</h2>
    <form action="" method="POST">
        {% csrf_token %}
        <fieldset class="module aligned ">
            <div class="form-row res-username">
                    <label class="required">Username: </label>
                    {{ f.username }}
            </div>
            <div class="form-row res-email">
                    <label class="required">Email: </label>
                    {{ f.email }}
            </div>
            <div class="form-row res-pass1">
                    <label class="required">Password: </label>
                    {{ f.password1 }}
            </div>
            <div class="form-row res-pass2">
                    <label class="required">Repeat Password: </label>
                    {{ f.password2 }}
            </div>
            <div class="form-row res-age">
                    <label class="required">Age: </label>
                    {{ f.age }}
            </div>
            <div class="form-row res-sex">
                    <label class="required">Sex: </label>
                    {{ f.sex }}
            </div>

            <div class="form-row res-term">
                    <p>By creating an account you agree to our <a href="#">Terms & Privacy</a>.</p>
                    <button type="submit" class="registerbtn">Register</button>
            </div>
            <div class="container signin">
                <p>Already have an account? <a href="{% url 'login:login-acc' %}">Log in</a>.</p>
            </div>

        </fieldset>
    </form>


    <a href="{% url 'article:index' %}">Back</a>
{% endblock %}