{% extends 'homepage/base.html' %}

{% block content0 %}

    {% for cate in cates %}
        <li><a href="{% url 'article:cate-list' cate.id %}" style="color:white">{{ cate.name_cate }}</a></li>
    {% endfor %}
    <li><a href="{% url 'user:profile' user.id %}" style="color:white">{{ user.username }}</a></li>
    <li><a href="{% url 'login:logout-acc' %}" style="color:white">Log Out</a></li>

{% endblock %}

{% block content %}
    <h2>{{ form.initial.username }}</h2>
    <div class="change-pass">
        <a href="{% url 'user:change-pass' user.id %}"><button>Change Password</button></a>
    </div>
    <form action="" method="POST">
        {% csrf_token %}
        <div class="user_infor">
            <fieldset class="module aligned ">
                <div class="form-row firstname">
                    <label class="required">First Name: </label>
                    <input type="text" name="first_name" maxlength="150" id="id_first_name" value="{{ form.initial.first_name }}">
                </div>
                <div class="form-row lastname">
                    <label class="required">Last Name: </label>
                    <input type="text" name="last_name" maxlength="150" id="id_last_name" value="{{ form.initial.last_name }}">
                </div>
                <div class="form-row res-email">
                    <label class="required">Email: </label>
<!--                    <input type="text" name="email" maxlength="150" id="id_email" value="{{ form.initial.email }}">-->
                    {{ form.initial.email }}
                </div>
                <div class="form-row res-phone">
                    <label class="required">Phone: </label>
                    <input type="text" name="phone" maxlength="150" id="id_phone" value="{{ form.initial.phone }}">
                </div>
                <div class="form-row res-age">
                    <label class="required">Age: </label>
                    <input type="text" name="age" maxlength="150" id="id_age" value="{{ form.initial.age }}">
                </div>
                <div class="form-row res-sex">
                    <label class="required">Sex: </label>
                    <input type="hidden" name="sex" maxlength="150" id="id_sex" value="{{ user_sex.idx }}">
                    <select id="id_sex_choice" onchange="changeValue_action()">
                        <option value="{{ user_sex.idx }}" selected disabled hidden>{{ user_sex.type }}</option>
                        {% for s_choice in sex_choice %}
                            <option value="{{ s_choice.idx }}" >{{ s_choice.type }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-row ">
                        <button type="submit" class="updateprofile">Save</button>
                </div>
            </fieldset>
        </div>
    </form>
    <h3>Articles:</h3>
    <ul>
        {% for article in articles %}
            <li>
                <a href="{% url 'article:article_detail' article.id %}"><h2>{{ article.title }}</h2></a>
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'article:index' %}">Back</a>
{% endblock %}