{% extends 'homepage/base.html' %}

{% block content0 %}

    {% for cate in cates %}
        <li><a href="{% url 'article:cate-list' cate.id %}" style="color:white">{{ cate.name_cate }}</a></li>
    {% endfor %}
    <li><a href="{% url 'user:profile' user.id %}" style="color:white">{{ user.username }}</a></li>
    <li><a href="{% url 'login:logout-acc' %}" style="color:white">Log Out</a></li>

{% endblock %}

{% block content %}

    <form action="" method="GET">
        {% csrf_token %}
        <div class="user_infor">
            <h2>{{ form.initial.username }}</h2>
            <div class="form-row res-email">
                <label class="required">Email: </label>
                {{ form.initial.email }}
            </div>
        </div>
    </form>
    <h3>Articles:</h3>
    <ul>
        {% for article in articles %}
            <li>
                <a href="{% url 'article:article_detail' article.id %}"><h2>{{ article.title }}</h2></a>
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'article:index' %}">Back</a>
{% endblock %}