.header{
    padding: 30px;
    background-color: #ccc;
    color: blue;
}
/* set up backgroup for class menu */
.menu{
    background-color: #234;
    color: #fff;
}
.menu ul li {
    float: left;
    color: white;
    padding: 6px 7px;
}

/* remove point in menu task */
.menu ul{
    list-style-type: none;
}
/* tao hieu ung website, khi cta di chuot vao diem link cua thanh menu */
.menu ul li:hover{
    background-color: #ccc;
    color: #000;
}
/* show the changes of menu class */
.menu::after{
    clear: both;
    display: table;
    content: "";
}

/* add_article Form */
.form-row {
        padding: 15px 0;
    }

.aligned .form-row,
.aligned .form-row > div {
    display: flex;
    flex-wrap: wrap;
    max-width: 100vw;
}

.aligned .form-row > div {
    width: calc(100vw - 30px);
}

label {
        font-size: 14px;
    }