{% extends 'homepage/base.html' %}

{% block content %}

    <form action="" method="POST">
        {% csrf_token %}
        <ul>
            <li>
                <label><b>Username:</b></label>
                <input type="text" name="user_name" required>
            </li>
            <li>
                <label><b>Password:</b></label>
                <input type="password" name="pass" required>
            </li>
            <li>
                <button type="submit">Log in</button>
            </li>
        </ul>
    </form>
    <div><a href="#">Forgot password?</a></div>
    <div>Don't have an account?<a href="{% url 'user:register' %}">Sign Up</a></div>
{% endblock %}