<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Login Success</title>
    </head>
    <body>
        <div class="message">
            <h3>Login Successful!</h3>
            <p>Hi {{ user }}, welcome to my site!</p>
        </div>
    </body>
</html>