{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Haha</title>
        <link rel="stylesheet" href="{% static 'homepage/css/style.css' %}">
        <link rel="stylesheet" href="{% static 'homepage/css/forms.css' %}">

    </head>
    <body>
        <div class="header">
            <h1>My Haha</h1>
        </div>
        <div class="menu">
             <ul>
                 <li><a href="{% url 'article:index' %}" style="color:white">Home</a></li>
                <!--        menu         -->
                 {% block content0 %}
                 {% endblock %}
            </ul>

        </div>
        <!--  search      -->
        <div class="search-bar">
            {% block content01 %}
            {% endblock %}
        </div>
        <!--  main content      -->
        <div class="content_detail">
            {% block content %}
            {% endblock %}
        </div>
        <!--  sub content      -->
        <div class="another_content">
            {% block content1 %}
            {% endblock %}
        </div>
    <script src="{% static 'homepage/js/main.js' %}"></script>
    <script src="{% static 'homepage/js/change_value_Profile.js' %}"></script>
    </body>

</html>