{% extends 'homepage/base.html' %}

<!-- Menu: Navigation Bar-->
{% block content0 %}

    {% for cate in categories %}
        <li><a href="{% url 'article:cate-list' cate.id %}" style="color:white">{{ cate.name_cate }}</a></li>
    {% endfor %}
    {% if user.username %}
        <li><a href="{% url 'user:profile' user.id %}" style="color:white">{{ user.username }}</a></li>
        <li><a href="{% url 'login:logout-acc' %}" style="color:white">Log Out</a></li>
    {% else %}
        <li><a href="{% url 'user:register' %}" style="color:white">Sign In</a></li>
        <li><a href="{% url 'login:login-acc' %}" style="color:white">Log In</a></li>
    {% endif %}


{% endblock %}

<!-- search -->
{% block content01 %}
    <form action="" method="POST">
        {% csrf_token %}
        <div >
            <fieldset class="module aligned ">
                <input type="text" placeholder="Search.." name="search_value">
                <input type="submit" value="Search">
            </fieldset>
        </div>
    </form>

{% endblock %}
<!-- main Content-->
{% block content %}
    <h3>News:</h3>
    <ul>
        {% for article in articles %}
            <li>
                <a href="{% url 'article:article_detail' article.id %}"><h2>{{ article.title }}</h2></a>
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'article:add-new' %}"><button>Add New</button></a>
{% endblock %}

{% block content1 %}

{% endblock %}
