{% extends 'homepage/base.html' %}

{% block content %}
    <h1>Add New Article:</h1>
    <form action="{% url 'article:add-new' %}" method="POST">
        {% csrf_token %}
        <div >
            <fieldset class="module aligned ">
                <div class="form-row field-title">
                    <label class="required">Title: </label>
                    {{ form.title }}
                </div>
                <div class="form-row field-content">
                    <label class="required">Content: </label>
                    {{ form.content }}
                </div>
                <div class="form-row field-time">
                    <label class="required">Time: </label>
                    {{ form.published }}
                </div>
                <div class="form-row field-cate">
                    <label class="required">Category: </label>
                    {{ form.id_cate }}
                </div>
                <div class="form-row field-sud-cate">
                    <label class="required">Sub Category: </label>
                    {{ form.id_sub_cate }}
                </div>
                <div class="form-row field-user">
                    {{ form.id_user }}
                </div>

                <input type="submit" value="save">
            </fieldset>
        </div>
    </form>

    <a href="{% url 'article:index' %}">Back</a>

{% endblock %}




