{% extends 'homepage/base.html' %}
<!-- input tag: 
        + type:
            - radio: vote
            - submit: send data from form
            - ...
        + value: value from dev
        + name (neu ko dung phuong thuc name user co the vote nhieuf value 1 luc)
            - choice: chi cho phep dc 1 vote gia tri 
            
-->
{% block content0 %}

    {% for cate in categories %}
        <li><a href="{% url 'article:cate-list' cate.id %}" style="color:white">{{ cate.name_cate }}</a></li>
    {% endfor %}
    {% if user.username %}
        <li><a href="{% url 'user:profile' user.id %}" style="color:white">{{ user.username }}</a></li>
        <li><a href="{% url 'login:logout-acc' %}" style="color:white">Log Out</a></li>
    {% else %}
        <li><a href="{% url 'user:register' %}" style="color:white">Sign In</a></li>
        <li><a href="{% url 'login:login-acc' %}" style="color:white">Log In</a></li>
    {% endif %}
{% endblock %}

{% block content %} 
    {% if article %}
        <h2>{{ article.title }}</h2>
        <div>
                <time class="published">{{ article.published }}</time>
        </div>
        <div>
                <span class="cate-art">
                    <a href="{% url 'article:cate-list' article.id_cate.id %}">{{ article.id_cate.name_cate }}</a>
                    | {{ article.id_sub_cate.name_cate }}
                </span>
        </div>

        <form action="" method="GET">
            <!-- automatic to create token -->
            <!-- token duoc su dung de bao mat khi gui du lieu tu web vao DB
                moi lan chay se tu sinh 1 token moi -->
            {% csrf_token %}
            <p>{{ article.content }}</p>
        </form>
        <div class="author">
            {{ article.id_user }}
        </div>

    {% else %}
        <h3 style="color: red;">This question does't exist!!!</h3>
    {% endif %}
    <a href="{% url 'article:index' %}">Back</a>
    {% if update %}
        <a href="{% url 'article:update_article' article.id %}">Update</a>
    {% endif %}
    {% if update %}
        <a href="{% url 'article:delete_article' article.id %}">Delete</a>
    {% endif %}
{% endblock %}

{% block content1 %}
    <h4>Your Comment:</h4>
    <form action="" method="POST">
        {% csrf_token %}
        <div>
            <div class="form-row field-cmt-content">
                {{ cmt_f.content }}
                {{ cmt_f.id_user }}
                {{ cmt_f.id_article }}
                <input type="submit" value="Add Comment">
            </div>
        </div>
    </form>
    <h4>Comments:</h4>
    <form action="" method="POST">
            <!-- automatic to create token -->
            <!-- token duoc su dung de bao mat khi gui du lieu tu web vao DB
                moi lan chay se tu sinh 1 token moi -->
            {% csrf_token %}
            {% if cmts %}
                {% for cmt in cmts %}
                    <div>
                        <b>{{ cmt.id_user }}:</b><span>{{ cmt.content }}</span>
                    </div>
                {% endfor %}
            {% endif %}

        </form>


{% endblock %}