{% extends 'homepage/base.html' %}

<!-- main Content-->
{% block content %}
    <h3>Do you want to delete the article: <a href="{% url 'article:article_detail' article.id %}">{{ article.title }}</a></h3>
    <form action="" method="POST">
        {% csrf_token %}
        <div>
            <input type="submit" value="Yes" name="delete">
            <input type="submit" value="Cancel" name="delete">
        </div>
    </form>
    <a href="{% url 'article:article_detail' article.id %}">Back</a>
{% endblock %}




