{% extends 'homepage/base.html' %}

{% block content0 %}

    {% for cate in categories %}
        <li><a href="{% url 'article:cate-list' cate.id %}" style="color:white">{{ cate.name_cate }}</a></li>
    {% endfor %}
    {% if user.username %}
        <li><a href="{% url 'user:profile' user.id %}" style="color:white">{{ user.username }}</a></li>
        <li><a href="{% url 'login:logout-acc' %}" style="color:white">Log Out</a></li>
    {% else %}
        <li><a href="{% url 'user:register' %}" style="color:white">Sign In</a></li>
        <li><a href="{% url 'login:login-acc' %}" style="color:white">Log In</a></li>
    {% endif %}
{% endblock %}


{% block content %} 
    {% if articles %}
        <ul>
            {% for article in articles %}
                <li>
                    <a href="{% url 'article:article_detail' article.id %}"><h2>{{ article.title }}</h2></a>
                </li>
            {% endfor %}
        </ul>

    {% else %}
        <h3 style="color: red;">This question does't exist!!!</h3>
    {% endif %}
    <a href="{% url 'article:index' %}">Back</a>
{% endblock %}