{% extends 'homepage/base.html' %}

{% block content %}
    <h1>Edit Article:</h1>
    <form action="" method="POST">
        {% csrf_token %}
        <div >
            <fieldset class="module aligned ">
                <div class="form-row field-title">
                    <label class="required">Title: </label>
                    <input type="text" name="title"  maxlength="512" required="" id="id_title" value="{{ form.initial.title }}">
                </div>
                <div class="form-row field-content">
                    <label class="required">Content: </label>
                    <textarea name="content" cols="40" rows="10" required="" id="id_content">{{ form.initial.content }}</textarea>
                </div>
                <div class="form-row field-cate">
                    <label class="required">Category: </label>
                    <input type="hidden" id="cate" name="id_cate" class="vTextField" value="{{ form.initial.id_cate.id }}">
                    <select id="cates" onchange="moveContentFromSelectToInputTag()">
                        <option value="{{ form.initial.id_cate.id }}">{{ form.initial.id_cate.name_cate }}</option>
                        {% for cate in cates %}
                            <option value="{{ cate.id }}">{{ cate.name_cate }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-row field-sud-cate">
                    <label class="required">Sub Category: </label>
                    <input type="hidden" id="sub-cate" name="id_sub_cate" class="vTextField" value="{{ form.initial.id_sub_cate.id }}">
                    <select id="sub-cates" onchange="moveContentFromSelectToInputTag()">
                        <option value="{{ form.initial.id_sub_cate.id }}" selected disabled hidden>{{ form.initial.id_sub_cate.name_cate }}</option>
                        {% for s_cate in sub_cates %}
                            <option value="{{ s_cate.id }}">{{ s_cate.name_cate }}</option>
                        {% endfor %}
                    </select>
                </div>
                <!-- submit button -->
                <input type="submit" value="Update">
            </fieldset>
        </div>
    </form>

    <a href="{% url 'article:article_detail' article.id %}">Back</a>

{% endblock %}




