{% extends 'homepage/base.html' %}

<!-- main Content-->
{% block content %}
    <h2>Error!!!</h2>
    <h3>Invalid Comment. Please make again! <a href="{% url 'article:article_detail' id_article %}"><button>Back</button></a></h3>
{% endblock %}




