{% extends 'homepage/base.html' %}

<!-- main Content-->
{% block content %}
    <h2>Error!!!</h2>
    <h3>Can't create new Article!. Please make again! <a href="{% url 'article:add-new' %}"><button>Back</button></a></h3>
{% endblock %}




