{% extends 'homepage/base.html' %}

<!-- main Content-->
{% block content %}
    <h2>Error!!!</h2>
    <h3>Password is Wrong. Please ente again!!! <a href="{% url 'user:change-pass' id_user %}"><button>Back</button></a></h3>
{% endblock %}




